<div class="wrapper">

			<!-- Sidebar -->
			<nav class="sidebar">
				
				<!-- close sidebar menu -->
				<div class="dismiss">
					<i class="fas fa-arrow-left"></i>
				</div>
				
				<div class="logo">
					<h3><a href="{{ path("admin")}}">Bootstrap 4 Template with Sidebar Menu</a></h3>
				</div>
				
				<ul class="list-unstyled menu-elements">
					<li class="active">
						<a class="scroll-link" href='{{ path("admin")}}'><i class="fas fa-home"></i> Gerer Les Biens </a>
					</li>
					<li>
						<a class="scroll-link" href='{{ path("user_index")}}'><i class="fas fa-users"></i> Gerer Les Users </a>
					</li>
				</ul>
				
				<div class="to-top">
					<a class="btn btn-primary btn-customized-3" href="#" role="button">
	                    <i class="fas fa-arrow-up"></i> Top
	                </a>
				</div>
				
				<div class="dark-light-buttons">
					<a class="btn btn-primary btn-customized-4 btn-customized-dark" href="#" role="button">Dark</a>
					<a class="btn btn-primary btn-customized-4 btn-customized-light" href="#" role="button">Light</a>
				</div>
			
			</nav>
			<!-- End sidebar -->
			
			<!-- Dark overlay -->
    		<div class="overlay"></div>

			<!-- Content -->
			<div class="content">
			
				<!-- open sidebar menu -->
				<a class="btn btn-primary btn-customized open-menu" href="#" role="button">
                    <i class="fas fa-align-left"></i> <span>Menu</span>
                </a>
			
		        <!-- Top content -->
		        
		
		        <!-- Section 1 -->
		      
		
		        <!-- Section 2 -->
		       
		
				<!-- Section 3 -->
		       
		
				<!-- Section 4 -->
		     
		        
		        <!-- Section 5 -->
		       
		        
		        <!-- Section 6 -->
		        
		
		        <!-- Footer -->
		        
	        
	        </div>
	        <!-- End content -->
        
 	</div>
